<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="metadata=res://*/BUPdb.csdl|res://*/BUPdb.ssdl|res://*/BUPdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=***ADRESS***,***PORT***;initial catalog=***USERNAME***;persist security info=True;user id=***USERNAME***;password=***PASSWORD***;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>